@using Dominio;
@{
    ViewData["Title"] = "ListadoSubastas";
}

<h1>Listado de Subastas</h1>
<br />

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

@if (TempData["Exito"] != null)
{
    <div class="alert alert-success">@TempData["Exito"]</div>
}

@if (ViewBag.ListadoSubastas == null || ViewBag.ListadoSubastas.Count == 0)
{
    <div class="alert alert-danger">No hay subastas en el sistema</div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Fecha de Publicacion</th>
                <th>Estado</th>                
                <th>Precio</th>
                <th>Cerrar Subasta</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Subasta subasta in ViewBag.ListadoSubastas)
            {
                <tr>
                    <td>@subasta.Id</td>
                    <td>@subasta.Nombre</td>
                    <td>@subasta.FechaPublicacion.ToString("dd/MM/yyyy")</td>
                    <td>@subasta.Estado</td>
                    <td>@subasta.CalculoUltimaOfertaPrecioFinal()</td>
                    <td>@if (subasta.Estado == TipoEstado.ABIERTA)
                        {
                            <a class="btn btn-primary" href="/publicaciones/CerrarSubasta?idSubasta=@subasta.Id">Cerrar Subasta</a>
                        } else {<h5>CERRADA</h5>}</td>
                </tr>
            }
        </tbody>
    </table>
}



