@using Dominio;
@{
    ViewData["Title"] = "ListadoPublicaciones";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

@if (TempData["Exito"] != null)
{
    <div class="alert alert-success">@TempData["Exito"]</div>
}
<br />

<h1>Listado de Publicaciones</h1>
<br />

@if (ViewBag.ListadoPublicaciones == null || ViewBag.ListadoPublicaciones.Count == 0)
{
    <div class="alert alert-danger">No hay publicaciones en el sistema</div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo de Publicacion</th>
                <th>Nombre</th>
                <th>Fecha de Publicacion</th>
                <th>Estado</th>
                <th>Precio</th>
                <th>Compra/realizar oferta</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Publicacion p in ViewBag.ListadoPublicaciones)
            {
                @if (p.EsSubasta())
                {
                    <tr>
                        <td>@p.Id</td>
                        <td>Subasta</td>
                        <td>@p.Nombre</td>
                        <td>@p.FechaPublicacion.ToString("dd/MM/yyyy")</td>
                        <td>@p.Estado</td>
                        <td>@p.CalculoUltimaOfertaPrecioFinal()</td>
                        <td>
                            @if (p.Estado == TipoEstado.ABIERTA)
                            {
                                <a class="btn btn-primary" href="/publicaciones/CambiarOfertarSubasta?idS=@p.Id">Ofertar/Modificar</a>
                            }
                            else
                            {
                                <h5>CERRADA</h5>
                            }
                       
                    </tr>
                }
                @if (!p.EsSubasta())
                {
                
                
                    <tr>
                        <td>@p.Id</td>
                        <td>Venta</td>
                        <td>@p.Nombre</td>
                        <td>@p.FechaPublicacion.ToString("dd/MM/yyyy")</td>
                        <td>@p.Estado</td>
                        <td>@p.CalculoUltimaOfertaPrecioFinal()</td>
                        <td>@if (p.Estado == TipoEstado.ABIERTA)
                            {
                                <a class="btn btn-success" href="/publicaciones/comprar?idP=@p.Id">Comprar</a>
                            } else
                            {
                                <h5>COMPRADO</h5>
                            }
                        </td> 
                    </tr>
                }
            }
        </tbody>
    </table>

}